.login-container{
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn-color{
    background: #6C63FF !important;
}
.login-container form input {
    margin-bottom: 15px;


}
button + button {
    margin-top: 20px;
}